

.flashCard {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Hide overflow */
    align-items: center;
    justify-content: start;
    padding-left: 3vw;
}

.smallBox {
    --box-width: 540px;
    --shift: 0; /* Default value */

    flex: 0 0 auto; /* Prevent shrinking or growing */
    width: var(--box-width);
    height: 375px;
    border: 3px solid black;
    border-radius: 10px;
    position: absolute;
    background-color: #e5e4e2;
    transition: .3s ease-in-out;
    padding: 1.25rem;
}

.smallBox:hover{
    filter: brightness(.8);
}

.smallBox:hover + *{
    margin-left: calc(var(--box-width)/2);
}

.smallBox:hover + * + *{
    margin-left: calc(var(--box-width) * 1/2);
}

.smallBox:hover + * + * + * {
    margin-left: calc(var(--box-width) * 1/2);
}




.box1{
    z-index: 1;
}
.box2{
    z-index: 10;
    transform: translateX(calc(var(--box-width)/2));
}
.box3{
    z-index: 100;
    transform: translateX(calc(var(--box-width)));

}
.box4{
    z-index: 1000;
    transform: translateX(calc(var(--box-width) * 3/2));

}

.smallBox > h1{
    margin-bottom: 1.5rem;
}
.smallBox > p{
    line-height: calc(1em + .5rem);
}
