.container:nth-of-type(3){
    border-top: blue 5px solid;
}

.header{
    font-size: 1.5rem;
    height: 100px;
    background-color: #141414;
    width: 100%;
    color: #fcfcfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-row ul{
    display: flex;
}

.header-row ul li{
    position: relative;
    margin-right: 2rem;
    list-style: none;
    cursor: pointer;
}

.header-row ul li:after{
    display: block;
    position: absolute;
    content: "";
    text-align: center;
    width: 0;
    height: 2px;
    background: orange;
    left: 50%;
    transform: translateX(-50%);
    transition: width ease-in 200ms;
}

.header-row ul li:hover:after{
    width: 100%;
}


