.list{
    height: 100%;
    width: 100%;
    background-color: #e5e4e2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    transform-style: preserve-3d;
    transform: perspective(2000px);
}

.listItem{
    width: 18vmin;
    height: 30vmin;
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
    filter: brightness(0.5);

}

.listItem:hover{
    transform: translateZ(200px);
    filter: brightness(1);
    scale: 1.2;
}
.listItem:hover + *{
    transform: translateZ(150px) rotateY(40deg);
    filter: brightness(.6);
}

.listItem:hover + * + *{
    transform: translateZ(70px) rotateY(20deg);
    filter: brightness(.4);
}

.listItem:hover + * + * + *{
    transform: translateZ(30px) rotateY(10deg);
    filter: brightness(.2);
}

.listItem:has(+ *:hover){
    transform: translateZ(150px) rotateY(-40deg);
    filter: brightness(.6);
}

.listItem:has(+ * + *:hover){
    transform: translateZ(70px) rotateY(-20deg);
    filter: brightness(.4);
}

.listItem:has(+ * + * + *:hover){
    transform: translateZ(30px) rotateY(-10deg);
    filter: brightness(.2);
}