.extra{
    position: relative;
    background-color: #141414;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#sliderDiv > .slide {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
}

#sliderDiv{
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0, -50%);
}
